---
layout: default
---

<div class="page--home container">
    <div class="row">
        <!-- sidebar -->
        {% include sidebar.html %}

        <!-- recent posts -->
        <div class="recent-posts col-sm-9">
            <h2 class="eyebrow-header">Read These Posts</h2>
            <ul class="recent__list reset">
                {% for post in site.posts %}
                <li class="recent__post post-list-item">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="item__link">
                        <h3 class="item__title">{{ post.title }}</h3>
                        <p class="item__metadata">{{ post.date | date: "%b %-d, %Y" }}</p>
                        <p class="item__excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
