---
layout: default
---

<div class="page--home container">
    <div class="row">
        <!-- sidebar -->
        {% include sidebar.html %}

        <!-- recent posts -->
        <div class="recent-posts col-md-9">
            <h3 class="recent__header">Read These Posts</h3>
            {% for post in site.posts %}
                <ul class="recent__list">
                    <li class="recent__post">
                        <h6 class="post__meta--title"><a href="{{ post.url | prepend: site.baseurl }}" class="post__link">{{ post.title }}</a></h6>
                        <p class="post__meta--date">{{ post.date | date: "%b %-d, %Y" }}</p>
                        <p class="post__meta--excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
</div>
