<div class="site-header container">
    <div class="row">
        <div class="col-xs-3">
            <header class="mark">
                <a href="/"><h1 class="mark__text">au<br />bz</h1></a>
            </header>
        </div>
        <div class="col-xs-9">
            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__link"><a href="/info">Info</a></li>
                    <li class="nav__link"><a href="/resume">Resume</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

