<div class="sidebar col-sm-4 col-md-3">
    <div class="sidebar__img">
        <img src="{{ site.gravatar_url }}" alt="Image of Aubrey Taylor">
    </div>
    <header class="sidebar__header">
        <h1 class="header__text gamma">{{ site.author_full_name }}</h1>
        <p class="header__sub">{{ site.author_description }}</p>
    </header>
    <div class="sidebar__links">
        <header class="visually-hidden">
            <h2>Aubrey's Social Links</h2>
        </header>
        <p class="link"><a href="#"><span class="link__icon fa fa-envelope"></span>Email</a></p>
        <p class="link"><a href="http://twitter.com/{{ site.twitter_username }}"><span class="link__icon fa fa-twitter"></span>Twitter</a></p>
        <p class="link"><a href="http://github.com/{{ site.github_username }}"><span class="link__icon fa fa-github-alt"></span>GitHub</a></p>
        <p class="link"><a href="http://instagram.com/{{ site.instagram_username }}"><span class="link__icon fa fa-instagram"></span>Instagram</a></p>
        <p class="link"><a href="http://linkedin.com/in/{{ site.linkedin_username }}"><span class="link__icon fa fa-linkedin"></span>LinkedIn</a></p>
        <p class="link"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="link__icon fa fa-rss"></span>Subscribe!</a></p>
    </div>
</div>
