---
layout: default
---

<div class="page--post container">
    <div class="row">
        <!-- sidebar -->
        {% include sidebar.html %}

        <!-- post -->
        <article class="post col-sm-8" role="article" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post__header">
                <h2 class="post__title"><a href="{{ page.url | prepend: site.base_url }}" class="post__title-link">{{ page.title }}</a></h2>

                {% if page.date %}
                <time class="post__metadata" itemprop="dateCreated" datetime="{{ page.date | date: "%F"}}">Published: {{ page.date | date: "%d %B %Y" }}</time>
                {% endif %}

            </header>

            <div class="post__content">
                {{ content }}
            </div>

        </article>

    </div>

    {% if page.next %}
        {% if page.next.categories[0] != 'hidden' %}
    <div class="row">
        <div class="next-post post-list-item col-sm-8 col-sm-push-3">
            <h5 class="eyebrow-header">Read This Next</h5>
            <a href="{{ page.next.url | prepend: site.baseurl }}" class="item__link">
                <h6 class="item__title">{{ page.next.title }}</h6>
                <p class="item__excerpt">{{ page.next.excerpt }}</p>
            </a>
        </div>
    </div>
        {% endif %}
    {% endif %}

</div>
