@import "vendor/built/app/utils/type";

// ui globals

.ui-top-heading {
    margin-bottom: font-scale(3) + 0px;
    color: #fff;
    padding: (font-scale(-1) + 0px) 0;
    background-color: $color-tundora;

    font-weight: 200;
    text-transform: uppercase;
}

.ui-heading {
    border-bottom: 1px solid $color-tundora;
    padding-bottom: font-scale(0) + 0px;
}

[class*=example-block--]{
    margin-bottom: font-scale(2) + 0px;
}

// fonts

.example-block__typeface {
    &.clear-sans {
        font-family: $clear-sans, sans-serif;
    }
}

.example-block__header {
    margin: (font-scale(1) + 0px) 0;
    color: #fff;
    padding: (font-scale(1) + 0px) 0;
    background-color: #aaa;
    font-weight: 200;
}

.typeface__example {
    font-size: font-scale(1) + 0px;

    &.clear-sans-thin {
        font-weight: 100;
    }

    &.clear-sans-light {
        font-weight: 200;
    }

    &.clear-sans-regular {
        font-weight: normal;
    }

    &.clear-sans-medium {
        font-weight: 500;
    }

    &.clear-sans-bold {
        font-weight: bold;
    }

    &.font-awesome {
        overflow: hidden; // clearfix alt
        .example__item {
            float: left;
            margin-right: font-scale(-1) + 0px;
        }
    }
}
